[ T - C r o s s ]
    title = [t-cross] in region mesh
     mesh =  reg            # mesh type is region-wise
      reg =    1            # number of crossing regions
      non     r-in  r-out    area
        1     1     2      1.000000    
     unit =    1            # unit is [1/cm^2/source]
     axis =  reg            # axis of output
     file = cdump.dat       # file name of dumped data
#    file = cdump.dat.cfg   # file name of dumped data summary
   output = o-curr          # surface crossing omni current
     part =  all      
# kf/name :  0        
     dump =   -9            # (D=0) number of dumped data, <0: ascii, >0: binary
                1   8   9   2   3   4   5   6   7
# dump data    kf   e  wt   x   y   z   u   v   w
#    used :        main (  %)        temp (  %)       total (  %)
#  memory :          17 (  0)           3 (  0)          20 (  0)

#------------------------------------------------------------------------------
#newpage:
#   no. =  1

x: Serial Num. of Region
y:  O-Curr [1/cm^2/source]                 
p: xlin ylog afac(0.8) form(0.9)
h: x       n            y(all     ),l3   n   
#  num     area           o-curr    r.err 
     1     1.0000E+00   3.9840E+00  0.0000

#   sum    1.0000E+00   3.9840E+00  0.0000

'no. =  1'
msuc: {\huge [t-cross] in region mesh}
msdl: {\it plotted by \ANGEL \version}
msdr: {\it calculated by \PHITS  2.30}
wt: s(0.7)
\vspace{-3}
  region surface crossing
e:
