# Ignorar TODO
*

# Permitir estas carpetas
!ejemplos_en_clase/
!ejemplos_en_clase/**

!lecture/
!lecture/**

!simulaciones_iniciales/
!simulaciones_iniciales/**

!test_inicial/
!test_inicial/**

!Modelo computacional Haz Vertical/
!Modelo computacional Haz Vertical/**

# Permitir archivos importantes
!.gitignore
!README.md